#boardSelector {
    position: absolute;
    left: 0px;
    top: 68px;
    width: 100%;
    height: calc(100% - 248px);
    padding-top: 16px;
    padding-bottom: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    mask-image: linear-gradient(to bottom, #000 0%, #000 80%, #0000 98%);
    padding-bottom: 40%;
    border-top: 1px solid #fff4;
    box-sizing: border-box;
}

.boardCard {
    position: relative;
    width: calc(100% - 20px);
    padding: 36px;
    text-align: left;
    letter-spacing: 1.3px;
    margin-bottom: 14px;
}

.boardCardSelected {
    background: var(--btnBg2);
    color: #fff;
    background-size: 200% auto;
}

.boardCardSelected:hover {
    background-position: right center;
}

.boardCardTitle {
    position: absolute;
    bottom: 8px;
    left: 12px;
}

.boardCardRemove {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 32px;
    opacity: 0.5;
    transition: var(--transitionTime);
}

.boardCardRemove:hover {
    opacity: 1;
    transform: scale(1.1);
}