.boardCreator {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 256px;
    height: calc(100% - 32px);
}

.boardCreatorBtn {
    position: relative;
    width: calc(100% - 20px);
    background: var(--btnBg3);
    background-size: 200% auto;
}

.boardCreatorBtn:hover {
    background-position: right center;
}