#boardSelector {
    position: absolute;
    left: 0px;
    top: 64px;
    width: 100%;
    height: calc(100% - 176px);
    padding-top: 16px;
    padding-bottom: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    mask-image: linear-gradient(to bottom, #000 0%, #000 80%, #0000 98%);
    padding-bottom: 40%;
    box-sizing: border-box;
    border-top: 1px solid var(--btnBg);
}

.boardCard {
    position: relative;
    width: calc(100% - 20px);
    height: 88px;
    text-align: left;
    letter-spacing: 1.3px;
    margin-bottom: 14px;
    margin-top: 0px;
}

.boardCard:hover {
    background: var(--btnBgHover);
}

.boardCardSelected {
    background: var(--btnBgThemed);
    color: #fff;
    background-size: 200% auto;
}

.boardCardSelected:hover {
    background: var(--btnBgThemed);
    background-size: 200% auto;
    background-position: right center;
}

.boardCardTitle {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.boardCard .iconSmall {
    position: absolute;
    right: 8px;
}

.boardCardSelected .iconSmall {
    fill: #fff;
}

.boardCardEdit {
    position: absolute;
    right: 48px !important;
}

.boardCardInput {
    position: absolute;
    margin: 0px;
    bottom: 8px;
    display: none;
}