.boardCreator {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.boardCreatorInput {
    margin-top: 0px;
}

.boardCreatorAddBtn {
    position: relative;
    width: calc(100% - 20px);
    height: 48px;
    background: var(--btnBg3);
    background-size: 200% auto;
}

.boardCreatorAddBtn:hover {
    background-position: right center;
}

.boardCreatorAddBtn .icon {
    height: 32px;
}

.boardCreatorUploadBtn,
.boardCreatorDownloadBtn {
    position: relative;
    width: calc(50% - 20px);
    height: 48px;
    background: var(--btnBg2);
    background-size: 200% auto;
    display: inline-block;
}

.boardCreatorUploadBtn {
    float: left;
}

.boardCreatorDownloadBtn {
    float: right;
}

.boardCreatorUploadBtn .icon,
.boardCreatorDownloadBtn .icon {
    height: 32px;
}