@import "board_creator.css";
@import "board_selector.css";

#sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 256px;
    height: 100%;
    background: var(--listBg);
    transition: var(--transitionTime);
}

.sidebarHidden {
    left: -256px !important;
}

.sidebarTitle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--fontColor);

    border-bottom: 3px solid var(--btnBg);
    transition: var(--transitionTime);
}

.sidebarTitleText {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 64px;
    line-height: 76px;
    text-align: center;
}

.sidebarTitle .icon {
    position: absolute;
    left: 8px;
    top: 12px;
    height: 40px;
    fill: var(--fontColor);
}

.hideToggle {
    position: absolute;
    right: -35px;
    top: 0px;
    width: 32px;
    height: 64px;
    cursor: pointer;
    background-color: var(--listBg);
    border-radius: 0 0 var(--borderRadius);
    transition: var(--transitionTime);
    border: 3px solid var(--btnBg);
    border-top: none;
    border-left: none;
}

.hideToggle .icon {
    left: 0px;
    top: 0px;
    width: 32px;
    height: 64px;
    fill: var(--fontColor);
}

.hideToggle .icon {
    opacity: 0.5;
    transition: 0.2s;
}

.hideToggle:hover .icon {
    opacity: 1;
    transform: scale(1.1);
}

.sidebarHidden .hideToggle .icon {
    transform: rotate(180deg);
}