@import "board/board_creator.css";
@import "board/board_selector.css";

.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 256px;
    height: 100%;
    background: var(--boxBg);
}

.sidebarTitle {
    position: absolute;
    left: 16px;
    top: 34px;
    font-size: 22px;
    font-weight: bold;
}

.sidebarTitle .icon {
    height: 46px;
    margin-top: -21px;
}

.themeToggle {
    position: absolute;
    right: 16px;
    top: 0px;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0.5;
}

.themeToggle:hover {
    opacity: 1;
    transform: scale(1.1);
}

.themeToggle .icon {
    width: 32px;
}