#boardSelector {
    position: absolute;
    left: 0px;
    top: 152px;
    width: 100%;
    height: calc(100% - 152px - 32px);
    padding-top: 16px;
    padding-bottom: 16px;
    overflow-y: scroll;
    overflow-x: hidden;

    background: var(--boxBg);
    border: var(--border);
    border-radius: var(--borderRadius);
}

.boardCard {
    position: relative;
    width: calc(100% - 20px);
    text-align: left;
}

.boardCardSelected {
    background: var(--btnBg2);
    background-size: 200% auto;
}

.boardCardSelected:hover {
    background-position: right center;
}