@import 'list.css';

#board {
    position: absolute;
    left: 256px;
    top: 0px;
    width: calc(100% - 256px);
    height: 100%;
    transition: var(--transitionTime);
}

.boardExpanded {
    left: 0px !important;
    width: 100% !important;
}

#boardTitle {
    position: absolute;
    right: 50dvw;
    top: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #fffd;
    transform: translateX(50%);
}