.card {
    position: relative;
    width: calc(100% - 20px);

    background: var(--btnBg);
    color: var(--fontColor);
    font-size: 16px;
    border-radius: var(--borderRadius);
    border: var(--border);
    margin: 10px;

    box-sizing: border-box;

    padding-top: 40px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 32px;

    text-align: left;
    letter-spacing: 1.3px;
    margin-bottom: 8px;
    white-space: wrap;

    transition: var(--transitionTime);
    animation: fadeIn 1.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-position: right center;
}

.cardBig {
    padding-top: 48px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 32px;
    font-weight: bold;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
    }
}