.lists {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    top: 72px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 80px;
    padding-right: 80px;

    width: 100%;
    height: calc(100% - 72px);
    box-sizing: border-box;
}

.list {
    position: relative;
    margin-right: 40px;
    width: 320px;
    min-height: 108px;
    flex-shrink: 0;
    background: var(--listBg);
    border-radius: var(--borderRadius);
    padding-bottom: 4px;
}

.listTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--iconColor);
    padding: 16px;
}

.listIconLeft {
    right: 80px;
}

.listIconRight {
    right: 48px;
}

.cards {
    overflow-y: auto;
    max-height: calc(100dvh - 232px);
}