.listCreator {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 256px;
}

.listCreator:hover #personCreatorInner {
    opacity: 1;
    transform: scaleY(1);
}

#listCreatorInner {
    background: var(--boxBg);
    border-radius: var(--borderRadius);
    padding-top: 6px;
    transition: var(--transitionTime);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

.listCreatorBtn {
    position: relative;
    width: calc(100% - 20px);
    background: var(--btnBg2);
    background-size: 200% auto;
}

.listCreatorBtn:hover {
    background-position: right center;
}