.listCreator {
    opacity: 0.6;
    transition: var(--transitionTime);
}

.listCreator:hover {
    opacity: 1;
}

.listCreatorInput {
    text-align: center;
}

.listCreatorAddBtn {
    position: relative;
    width: calc(100% - 20px);
    height: 48px;
    background: var(--btnBg3);
    background-size: 200% auto;
}

.listCreatorAddBtn:hover {
    background-position: right center;
}

.listCreatorAddBtn .icon {
    height: 32px;
}