.icon {
    fill: #fff;
    vertical-align: middle;
    height: 64px;
}

.titleIcon {
    fill: var(--fontColor);
}

.btn {
    background: var(--btnBg);
    transition: 0.4s;
    background-size: 200% auto;
    color: var(--fontColor);
    border-radius: var(--borderRadius);
    border: var(--border);
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    width: 80px;
    box-shadow: var(--boxShadow);
}

.btn:hover {
    transform: scale(1.05);
    background-position: right center;
}

.btn:active {
    transform: scale(1);
    background-position: right center;
}

.iconSmall {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 32px;
    opacity: 0.7;
    transition: var(--transitionTime);
    fill: var(--fontColor);
    cursor: pointer;
}

.iconSmall:hover {
    opacity: 1;
    transform: scale(1.1);
}

.themeToggle {
    position: absolute;
    right: 16px;
    top: 0px;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0.5;
}

.themeToggle:hover {
    opacity: 1;
    transform: scale(1.1);
}

.themeToggle:active {
    transform: scale(1);
}

.themeToggle .icon {
    width: 32px;
    fill: #fff;
}