@import "app.css";
@import "sidebar/sidebar.css";
@import "board/board.css";

:root {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    letter-spacing: 2px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    font-size: 18px;
    overflow: hidden;
    --borderRadius: 1px;
    --border: 0px solid #fff;
    --iconColor: #fff;

    color: #222;
    --titleIconColor: #222;
    --fontColor: #fffc;
    --bg: linear-gradient(70deg, #000 0%, #ccc 100%);
    --boxBg: linear-gradient(0deg, #fff4, #fffc);

    --btnBg: linear-gradient(to right, #888 0%, #ccc 51%, #889 100%);
    --btnBg2: linear-gradient(to right, #18a 0%, #3cf 51%, #18a 100%);
    --btnBg3: linear-gradient(to right, #282 0%, #4f4 51%, #282 100%);
    --btnBg4: linear-gradient(to right, #078 0%, #2ac 51%, #078 100%);
}

.dark {
    color: #5cf;
    --titleIconColor: #5cf;
    --fontColor: #fff;
    --bg: linear-gradient(70deg, #001 0%, #012 100%);
    --boxBg: linear-gradient(0deg, #fff0, #fff2);

    --btnBg: linear-gradient(to right, #4442 0%, #ccc6 51%, #4442 100%);
    --btnBg2: linear-gradient(to right, #0582 0%, #1cf8 51%, #0582 100%);
    --btnBg3: linear-gradient(to right, #040 0%, #0f0 51%, #040 100%);
    --btnBg4: linear-gradient(to right, #034 0%, #168 51%, #034 100%);
}

/* Scrollbar styles CHROME */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Scrollbar stylesFF */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

*::-webkit-scrollbar-thumb:hover {
    scrollbar-color: #888 transparent;
}