@import "app.css";
@import "misc/icon.css";
@import "misc/settings.css";
@import "misc/background.css";
@import "misc/confirm_box.css";
@import "sidebar/sidebar.css";
@import "board/board.css";

:root {
    --transitionTime: 0.3s;
    --leftPadding: clamp(40px, 5vw, 64px);
    --borderRadius: 14px;
    --border: none;
    --btnBgThemed: linear-gradient(to right, var(--bg) 0%, var(--bgBlob1) 51%, var(--bg) 100%);

    /* Background */
    --bg: #012;
    --bgBlob1: #000;
    --bgBlob2: #000;
    --bgBlob3: #000;

    /* Theme specific styles */
    --fontColor: #111;
    --listBg: #fffa;
    --inputBg: #ddd;
    --inputBgFocus: #fff;
    --cardBg: #fff;
    --boxShadow: 0 0 8px 0 #0003;
    --btnBg: #fffa;
    --btnBgHover: #fff;
    --scrollbarColor: #fffa;
}

.dark {
    --fontColor: #fff;
    --listBg: #0006;
    --inputBg: #444;
    --inputBgFocus: #666;
    --cardBg: #333;
    --boxShadow: 0 0 8px 0 #0008;
    --btnBg: #333a;
    --btnBgHover: #333;
    --scrollbarColor: #fff4;
}