@import "background.css";
@import "app.css";
@import "sidebar/sidebar.css";
@import "board/board.css";

:root {
    font-family: sans-serif;
    letter-spacing: 2px;
    user-select: none;
    white-space: nowrap;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    overflow: hidden;
    background: var(--bg);
    color: var(--fontColor);
    transition: 0.8s;

    --transitionTime: 0.3s;
    --borderRadius: 14px;
    --border: 0px solid #fff0;

    /* Theme specific styles */
    --bg: #012;
    --iconColor: #333;
    --fontColor: #222;
    --sidebarBg: #fff;
    --listBg: #fffa;
    --inputBg: #ccc;
    --inputBgFocus: #ddd;
    --btnBg: #fff;
    --btnBg2: linear-gradient(to right, #259 0%, #3af 51%, #259 100%);
    --btnBg3: linear-gradient(to right, #060 0%, #0f0 51%, #060 100%);
    --scrollbarColor: #fffa;
}

.dark {
    --bg: #012;
    --iconColor: #fff;
    --fontColor: #fff;
    --sidebarBg: #333;
    --listBg: #333c;
    --inputBg: #555;
    --inputBgFocus: #666;
    --btnBg: #0008;
    --btnBg2: linear-gradient(to right, #046 0%, #07c 51%, #046 100%);
    --btnBg3: linear-gradient(to right, #040 0%, #0f0 51%, #040 100%);
    --scrollbarColor: #fff4;
}


input {
    position: relative;
    width: calc(100% - 20px);
    background-color: var(--inputBg);
    color: var(--fontColor);
    font-size: 16px;
    font-weight: bold;
    border: var(--border);
    border-radius: var(--borderRadius);
    padding: 10px;
    margin: 10px;
    margin-bottom: 4px;
    box-sizing: border-box;
    outline: none;
    transition: var(--transitionTime);
}

input:hover,
input:focus {
    background-color: var(--inputBgFocus);
}

/* Scrollbar styles CHROME */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbarColor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarColor);
}

/* Scrollbar stylesFF */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbarColor) transparent;
}

*::-webkit-scrollbar-thumb:hover {
    scrollbar-color: var(--scrollbarColor) transparent;
}

::placeholder {
    color: var(--fontColor);
    font-weight: normal;
    opacity: 0.7;
    /* Firefox */
}